@import "_colors.css";

h2 {
    text-align: center;
    color: var(--foreground-primary);
    margin-bottom: 35px;
}

th {
    padding: 20px 75px !important;
}
td {
    padding: 20px 75px 20px 20px !important;

}
tr:first-child {
    > td,
    > th {
        border-top: 1px solid var(--border-table);
    }
}

tr:last-child {
    > td,
    > th {
        border-bottom: 1px solid var(--border-table);
    }
}

.container-fluid {
    width: 1000px;
}

.form-container {
    padding: 60px;
    background-color: var(--background-form);
    border-radius: 10px;

    margin-top: 60px;
}

.table-options {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.form-select {
    width: 250px;
    background-color: var(--gray-800) !important;
    border-color: transparent;
    color: var(--foreground-input);
}

.form-select:focus {
    box-shadow: none;
    border-color: var(--border-accent);
    color: var(--foreground-input-active);
}

ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

li:not(:last-child) {
    margin-bottom: 6px;
}
