@import "_colors.css";

td {
    width: 370px;
}

.content-container {
    width: 800px;
}

.button-container {
    justify-content: flex-end;
    margin-top: 30px;
}

.form-select {
    width: 280px;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

li:not(:last-child) {
    margin-bottom: 6px;
}
