@import "_colors.css";

* {
    box-sizing: border-box;
}

body {
    min-width:  100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: var(--background-primary) !important;
    font-family: 'DM Sans', sans-serif !important;
}

h1 {
    margin: 40px 0 60px 0;
    text-align: center;
    color: var(--foreground-primary);
}

.container-fluid {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    width: 1400px;

    padding: 0;
}

.navbar {
    padding: 10px 40px;
    border-bottom: 1px solid var(--border-primary);

    @media (max-width: 480px) {
        justify-content: center;
    }
}

.navbar-nav {
    flex-direction: row;

    @media (max-width: 480px) {
        flex-direction: column;
    }
}

.navbar-nav :not(:first-child) {
    margin-left: 30px;

    @media (max-width: 480px) {
        margin-left: 0;
    }
}

.nav-item {
    border-bottom: 2px solid transparent;
}

.nav-item:hover {
    border-bottom: 2px solid var(--border-accent) !important;

    .nav-link {
        color: var(--foreground-accent) !important;
    }
}

.nav-link,
.nav-link:focus {
    font-weight: 500;
    padding: 8px 4px;
    color: var(--foreground-navbar);

    &.active {
        color: var(--foreground-navbar-active);
    }
}

.table {
    table-layout: fixed;
    border-collapse:collapse;
    border-radius: 10px;
    vertical-align: middle;
    margin-bottom: 35px;
}

th,
td {
    padding: 12px 25px !important;
    background-color: var(--background-table) !important;
    border-bottom: 1px solid var(--border-table);
}

th {
    color: var(--foreground-table-header) !important;
    padding: 14px 25px !important;
}

td {
    color: var(--foreground-table-data) !important;
}

th:first-child {
    border-top-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
}

tr:last-child td {
    border: none;
}

tr:last-of-type td:first-child {
    border-bottom-left-radius: 10px;
}

tr:last-of-type td:last-child {
    border-bottom-right-radius: 10px;
}

.btn {
    padding: 5px 24px;
    border-radius: 10px;
    color: var(--foreground-button);
    background-color: var(--background-button);
    border: 1px solid var(--border-button);

    &:hover {
        color: var(--foreground-button-hover) !important;
        background-color: var(--background-button-hover) !important;
        border: 1px solid var(--border-button-hover) !important;
    }
}

.btn-accent {
    color: var(--foreground-button-accent);
    background-color: var(--background-button-accent);
    border: 1px solid var(--border-button-accent);

    &:hover {
        color: var(--foreground-button-accent-hover) !important;
        background-color: var(--background-button-accent-hover) !important;
        border: 1px solid var(--border-button-accent-hover) !important;
    }
}
