@import "../_colors.css";

th:nth-child(3) {
    width: 280px;
}

th:nth-child(4) {
    width: 280px;
}

th:last-child,
td:last-child {
    padding-right: 30px !important;
}

.table-options {
    display: flex;
    justify-content: center;
}
