@import "_colors.css";

* {
    box-sizing: border-box;
}

body {
    min-width:  100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: var(--background-primary) !important;
    font-family: "DM Sans", sans-serif !important;
}

h1 {
    margin: 40px 0 60px 0;
    text-align: center;
    color: var(--foreground-primary);
}

h2 {
    text-align: center;
    color: var(--foreground-primary);
    margin-bottom: 35px;
}

span {
    color: var(--foreground-primary);
}

label {
    margin: 18px 0 6px 6px;
    color: var(--foreground-label);
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
}

input::placeholder {
    color: var(--foreground-input-placeholder) !important;
}

textarea::placeholder {
    color: var(--foreground-input-placeholder) !important;
}

.container-fluid {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.navbar {
    padding: 10px 40px;
    border-bottom: 1px solid var(--border-primary);

    @media (max-width: 480px) {
        justify-content: center;
    }
}

.navbar-nav {
    flex-direction: row;

    @media (max-width: 480px) {
        flex-direction: column;
    }
}

.navbar-nav :not(:first-child) {
    margin-left: 30px;

    @media (max-width: 480px) {
        margin-left: 0;
    }
}

.nav-item {
    border-bottom: 2px solid transparent;
}

.nav-item:hover {
    border-bottom: 2px solid var(--border-accent) !important;

    .nav-link {
        color: var(--foreground-accent) !important;
    }
}

.nav-link,
.nav-link:focus {
    font-weight: 500;
    padding: 8px 4px;
    color: var(--foreground-navbar);

    &.active {
        color: var(--foreground-navbar-active);
    }
}

.content-container {
    width: 1400px;
    background-color: var(--background-form);
    border-radius: 10px;
    margin-top: 60px;
    padding: 50px;
}

.table {
    table-layout: fixed;
    border-collapse:collapse;
    vertical-align: middle;
    margin-bottom: 35px;
}

tr {
    &:first-child th,
    &:first-child td {
        border-top: 1px solid var(--border-table);
    }
}

th,
td {
    justify-content: space-between;
    padding: 20px 20px !important;
    background-color: var(--background-table) !important;
    border-bottom: 1px solid var(--border-table);

    &:first-child {
        padding-left: 40px !important;
    }

    &:last-child {
        padding-right: 40px !important;
    }
}

th {
    color: var(--foreground-table-header) !important;
}

td {
    color: var(--foreground-table-data) !important;
}

.btn {
    padding: 5px 24px;
    border-radius: 10px;
    color: var(--foreground-button);
    background-color: var(--background-button);
    border: 1px solid var(--border-button);

    &:hover {
        color: var(--foreground-button-hover) !important;
        background-color: var(--background-button-hover) !important;
        border: 1px solid var(--border-button-hover) !important;
    }
}

.btn-accent {
    color: var(--foreground-button-accent);
    background-color: var(--background-button-accent);
    border: 1px solid var(--border-button-accent);

    &:hover {
        color: var(--foreground-button-accent-hover) !important;
        background-color: var(--background-button-accent-hover) !important;
        border: 1px solid var(--border-button-accent-hover) !important;
    }
}

.btn-danger {
    color: var(--foreground-button-danger);
    background-color: var(--background-button-danger);
    border: 1px solid var(--border-button-danger);

    &:hover {
        color: var(--foreground-button-danger-hover) !important;
        background-color: var(--background-button-danger-hover) !important;
        border: 1px solid var(--border-button-danger-hover) !important;
    }
}

.btn-danger-hover {
    &:hover {
        color: var(--foreground-button-danger-hover) !important;
        background-color: var(--background-button-danger-hover) !important;
        border: 1px solid var(--border-button-danger-hover) !important;
    }
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.button-action-container {
    display: flex;
    gap: 20px;
}

.form-control {
    background-color: var(--background-input) !important;
    border-color: transparent;
    color: var(--foreground-input);
    resize: none;
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--border-accent);
    color: var(--foreground-input-active);
}

.form-select {
    background-color: var(--gray-800) !important;
    border-color: transparent;
    color: var(--foreground-input);
}

.form-select:focus {
    box-shadow: none;
    border-color: var(--border-accent);
    color: var(--foreground-input-active);
}

.error {
    border: 1px solid var(--border-error) !important;
}

.datepicker {
    background-color: #000 !important;
    color: #fff !important;
    border: none;
    padding: 10px !important;
}

.datepicker-dropdown:after {
    border-bottom: 6px solid #000;
}
