@import "../_colors.css";

th:nth-child(1) {
    width: 250px;
}

th:nth-child(6) {
    width: 180px;
}

th:last-child,
td:last-child {
    padding-right: 30px !important;
}

.table {
    margin-bottom: 0;
}

.column-content-dish {
    margin-bottom: 4px;

    &:last-child {
        margin-bottom: 0;
    }
}
